/* Layout */
/* font */
/* Text-size styles */
main section {
  padding: 54px 0;
}

.store-head {
  width: 100%;
  background-color: #f4f4fa;
}
.store-head > div {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.store-head .store-head-t {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #1a1a1a;
  gap: 16px;
}
.store-head .store-intro {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  border-radius: 4px;
}
.store-head .store-intro-list {
  background: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}
.store-head .store-intro-list .h3-tt {
  color: #1e1e1e;
}
.store-head .store-intro-list .body-tt {
  height: 100%;
  color: #2b2b2b;
}
.store-head .store-intro-list .desc-tt {
  color: #848484;
}
.store-head .store-intro-list .desc-tt .ast {
  display: inline-block;
  margin-right: 4px;
}
.store-head .store-intro-list > .btn {
  margin-top: 27px;
  color: #0007b2;
  border-color: #0007b2;
  transition: 0.3s;
}
.store-head .store-intro-list > .btn:hover {
  border-color: #00068e;
  color: #00068e;
}

.store-ct > div {
  padding-bottom: 54px;
}
.store-ct .store-ct-tab {
  display: flex;
  width: 100%;
}
.store-ct .store-ct-tab .store-tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #eaeaea;
  height: 80px;
  transition: 0.3s;
  color: #a8a8a8;
}
.store-ct .store-ct-tab .store-tab:last-of-type {
  border-left: none;
}
.store-ct .store-ct-tab .store-tab:hover {
  color: #0007b2;
  border-color: #0007b2;
}
.store-ct .store-ct-tab .store-tab.active {
  border-color: #0007b2;
  background: #0007b2;
  color: #fff;
}
.store-ct .store-ct-list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.store-ct .store-list-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.store-ct .label-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
}
.store-ct .label-checkbox label {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 24px;
  cursor: pointer;
}
.store-ct #rounzLens[type=checkbox] + .label-checkbox::before {
  content: "";
  height: 24px;
  width: 24px;
  margin-right: -24px;
  background: url("../images/icon_discheck.svg") no-repeat center center/100% auto;
}
.store-ct #rounzLens[type=checkbox]:checked + .label-checkbox::before {
  content: "";
  height: 24px;
  width: 24px;
  background: url("../images/icon_checked.svg") no-repeat center center/100% auto;
}
.store-ct .store-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media screen and (max-width: 480px) {
  .store-ct .store-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.store-ct .store-list li {
  display: grid;
  gap: 16px;
}
.store-ct .store-list-img {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%;
}
.store-ct .store-list-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.store-ct .store-list-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rounz-lens-chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: #f4f4fa;
  color: #0007b2;
  padding: 0 8px;
  border-radius: 4px;
}

.icon-pb-lense {
  display: inline-flex;
  width: 16px;
  height: 16px;
  background: url("../images/store/icon_pb_lense.png") no-repeat center center/100% auto;
}

.rounz-select select {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #1e1e1e;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  min-width: 120px;
}

select::-ms-expand {
  display: none;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
}

select {
  background: url("../images/store/icon_arrow_select.png") no-repeat calc(100% - 12px) center/11px auto;
}/*# sourceMappingURL=store.css.map */