/* Layout */
/* font */
/* Text-size styles */
main section {
  padding: 54px 0;
}

.store-head {
  width: 100%;
  background-color: #f4f4fa;
  margin-bottom: 54px;
}
.store-head > div {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.store-head .store-head-t {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #1a1a1a;
  gap: 16px;
}
.store-head .store-intro {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  border-radius: 4px;
}
.store-head .store-intro-list {
  background: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}
.store-head .store-intro-list .h3-tt {
  color: #1e1e1e;
}
.store-head .store-intro-list .body-tt {
  height: 100%;
  color: #2b2b2b;
}
.store-head .store-intro-list .desc-tt {
  color: #848484;
}
.store-head .store-intro-list .desc-tt .ast {
  display: inline-block;
  margin-right: 4px;
}
.store-head .store-intro-list > .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 27px;
  color: #0007b2;
  border-color: #0007b2;
  transition: 0.3s;
}
.store-head .store-intro-list > .btn:hover {
  border-color: #00068e;
  color: #00068e;
}

.store-ct > div {
  padding-bottom: 54px;
}
.store-ct .store-ct-tab {
  display: flex;
  width: 100%;
}
.store-ct .store-ct-tab .store-tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.store-ct .store-ct-tab .store-tab a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 1px #eaeaea;
  transition: 0.3s;
  color: #a8a8a8;
}
.store-ct .store-ct-tab .store-tab:last-of-type {
  border-left: none;
}
.store-ct .store-ct-tab .store-tab:hover a {
  color: #0007b2;
  border-color: #0007b2;
}
.store-ct .store-ct-tab .store-tab.active a {
  border-color: #0007b2;
  background: #0007b2;
  color: #fff;
}
.store-ct .store-ct-list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.store-ct .store-list-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.store-ct .label-checkbox {
  align-items: center;
  gap: 6px;
  display: none;
}
.store-ct .label-checkbox.active {
  display: flex;
}
.store-ct .label-checkbox label {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 24px;
  cursor: pointer;
}
.store-ct #rounzLens[type=checkbox] + .label-checkbox::before {
  content: "";
  height: 24px;
  width: 24px;
  margin-right: -24px;
  background: url("../images/icon_discheck.svg") no-repeat center center/100% auto;
}
.store-ct #rounzLens[type=checkbox]:checked + .label-checkbox::before {
  content: "";
  height: 24px;
  width: 24px;
  background: url("../images/icon_checked.svg") no-repeat center center/100% auto;
}
.store-ct .store-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 54px 16px;
}
.store-ct .store-content {
  display: none;
}
.store-ct .store-content.active {
  display: block;
}
.store-ct .store-list li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.store-ct .store-list-img {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%;
}
.store-ct .store-list-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.store-ct .store-list-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  height: 100%;
}
.store-ct .store-list-box .store-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 4px;
}
.store-ct .store-list-box .store-name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.store-ct .store-list-box .store-name .icon-pb-lense {
  width: 12px;
}
.store-ct .store-list-box .store-name .rounz-lens-chip {
  gap: 4px;
}
.store-ct .store-list-box .store-name .small-tt {
  line-height: 100%;
}
.store-ct .store-list-box p.desc-tt {
  color: #848484;
}
.store-ct .store-list-box p.road-tt {
  color: #1e1e1e;
  line-height: 1.4;
  font-weight: 500;
}
.store-ct .store-list-box a.tel-tt {
  color: #848484;
}
.store-ct .store-list-box .store-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
.store-ct .store-list-box .store-btn a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #4f4f4f;
  border-radius: 4px;
  border: solid 1px #eaeaea;
  height: 48px;
  transition: 0.3s;
}
.store-ct .store-list-box .store-btn a i {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 16px;
  height: 16px;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.store-ct .store-list-box .store-btn a .icon-call {
  background-image: url("../images/store/icon_card_call.svg");
}
.store-ct .store-list-box .store-btn a .icon-map {
  background-image: url("../images/store/icon_card_map.svg");
}
.store-ct .store-list-box .store-btn a:hover {
  color: #0006a0;
  border-color: #0007b2;
}
.store-ct .store-list-box .store-btn a:hover .icon-call {
  background-image: url("../images/store/icon_card_call_hover.svg");
}
.store-ct .store-list-box .store-btn a:hover .icon-map {
  background-image: url("../images/store/icon_card_map_hover.svg");
}

.store-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 54px;
}
.store-page button {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: #848484;
  padding: 4px;
}
.store-page button.active {
  background-color: #0007b2;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #ffffff;
}
.store-page #numbers {
  display: flex;
  align-items: center;
  gap: 8px;
}

.store-foot > div {
  display: none;
}
.store-foot > div.active {
  display: flex;
}

.btn-arrow {
  width: 12px;
  height: 10px;
  background-image: url("../images/store/icon_arrow_right.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-arrow:hover {
  background-image: url("../images/store/icon_arrow_right_hover.svg");
}
.btn-arrow.btn-white {
  background-image: url("../images/store/icon_arrow_right_white.svg");
}

.store-prev,
.store-next {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/store/icon_right_button.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 12px auto;
}

.store-prev {
  transform: rotate(-180deg);
}

.rounz-lens-chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: #f4f4fa;
  color: #0007b2;
  padding: 2px 8px;
  border-radius: 4px;
  line-height: 27px;
  font-weight: 600;
}

.icon-pb-lense {
  display: inline-flex;
  width: 16px;
  height: 16px;
  background: url("../images/store/icon_pb_lense.png") no-repeat center center/100% auto;
}

.rounz-select select {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #1e1e1e;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  min-width: 160px;
}

select::-ms-expand {
  display: none;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
}

select {
  background: url("../images/store/icon_arrow_select.png") no-repeat calc(100% - 12px) center/11px auto;
}

.store-foot-direct {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fa;
  gap: 108px;
  padding: 54px 0;
}
.store-foot-direct .store-ct-slide-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 360px;
}
.store-foot-direct .store-ct-slide-container {
  position: relative;
  width: 480px;
  height: 360px;
  overflow: hidden;
}
.store-foot-direct .store-ct-slide-container ul {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  transition: 0.5s ease-out;
}
.store-foot-direct .store-ct-slide-container li {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.store-foot-direct .store-ct-slide-container img {
  width: 100%;
}
.store-foot-direct .store-foot-slide-btn {
  width: 100%;
  top: 50%;
  height: 40px;
  position: absolute;
  transform: translateY(-50%);
}
.store-foot-direct .store-foot-slide-btn button {
  position: absolute;
  display: inline-flex;
  width: 24px;
  height: 40px;
}
.store-foot-direct .store-foot-slide-btn #foot-slide-prevbtn {
  right: 100%;
}
.store-foot-direct .store-foot-slide-btn #foot-slide-nextbtn {
  left: 100%;
}
.store-foot-direct .store-ct-bullet {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 6px;
  width: 100%;
  bottom: 12px;
}
.store-foot-direct .store-ct-bullet span {
  display: inline-flex;
  width: 9px;
  height: 9px;
  background: #ffffff;
}
.store-foot-direct .store-ct-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.store-foot-direct .store-chain h4 {
  color: #0007b2;
  margin-bottom: 16px;
}
.store-foot-direct .store-chain .btn {
  color: #ffffff;
  background: #0007b2;
  display: inline-flex;
  padding: 0 24px;
}/*# sourceMappingURL=store.css.map */