@use "./variable.scss" as *;

.container {
  padding-top: 57px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

// filter

.filter {
  border: 1px solid $g75;
  padding: 16px 30px;
  &.collapsed .filter-body {
    max-height: 0;
  }
}
.filter-title {
  width: 100%;
  display: flex;
  align-items: center;
  p {
    margin-left: 22px;
  }
  img:nth-of-type(2) {
    margin-left: auto;
  }
}
.filter-body {
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.5s ease;
}
.filter-category {
  margin-top: 27px;
}
.filter-shape {
  margin-top: 20px;
}
ul {
  margin-top: 8px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.filter-button {
  padding: 16px 24px;
  border: 1px solid $g100;
  border-radius: 4px;
  color: $g100;
  &.selected {
    border-color: $b300;
    color: $b300;
  }
}
.filter-submit {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  button {
    padding: 16px 24px;
    background: $b300;
    border-radius: 4px;
    color: white;
  }
}

// total items count

.total-item {
  span {
    font-weight: 700;
  }
}

// best items

.best-items {
  ul {
    display: grid;
  }
  li {
    width: 254px;
  }
}
