// best.scss
@use "./variable.scss" as *;

.container {
  padding-top: 57px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

// filter
.filter {
  border: 1px solid $g75;
  padding: 16px 30px;

  &.collapsed .filter-body {
    max-height: 0;
  }
}
.filter-title {
  width: 100%;
  display: flex;
  align-items: center;

  p {
    margin-left: 22px;
  }
  img:nth-of-type(2) {
    margin-left: auto;
  }
}
.filter-body {
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.5s ease;
}
.filter-category {
  margin-top: 27px;
}
.filter-shape {
  margin-top: 20px;
}

.filter-body ul,
.page-button ul {
  margin-top: 8px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.filter-button {
  padding: 16px 24px;
  border: 1px solid $g100;
  border-radius: 4px;
  color: $g100;

  &.selected {
    border-color: $b300;
    color: $b300;
  }
}
.filter-submit {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    padding: 16px 24px;
    background: $b300;
    border-radius: 4px;
    color: white;
  }
}

// total items count
.total-item {
  margin-bottom: 10px;
  span {
    font-weight: 700;
  }
}

// best items
.best-items {
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px 15px;
    margin-top: 0;

    @media (max-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  li {
    width: auto;

    .item-image {
      position: relative;
      > img {
        width: 100%;
      }
    }

    .item-brand {
      color: $g100;
    }
    h3 {
      color: $g400;
    }
    .item-price {
      span {
        color: $error;
        margin-right: 8px;
      }
    }
    .best-store-button {
      display: inline-block;
      margin-top: 16px;
      border-radius: 4px;
      background: $bg;
      padding: 0 8px;
      color: $b300;
    }
    .like-button {
      position: absolute;
      right: 12px;
      bottom: 12px;
    }
  }
}

// pagination
.page-button {
  margin-top: 24px;
  margin-bottom: 20px;

  ul {
    justify-content: center;
    align-items: center;
  }

  button {
    min-width: 36px;
    height: 36px;
    background: #fff;
    color: $g400;

    &.active {
      // border-color: $b300;
      // color: $b300;
      color: white;
      background: $b300;
      border-radius: 18px;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 1200px) {
  h2 {
    display: none;
  }
  .container {
    padding-top: 0;
    margin: 0;
    padding: 0;
  }
  .mobile-container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 16px;
  }
  .filter-button {
    padding: 12px 18px;
    border: 1px solid $g100;
    border-radius: 4px;
    color: $g100;
  }
  .best-items li {
    .item-brand {
      font-size: 12px;
    }
    h3 {
      font-size: 15px;
    }
    .item-price {
      font-size: 18px;
    }
    a {
      font-size: 12px;
    }
  }
}
