@use "./reset";
@use "./normalize";
@use "./variable.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.h1-tt {
  font-family: $font-pretendard;
  font-size: $font-h1;
  font-weight: 700;
  line-height: 120%;
}

.h2-tt {
  font-family: $font-pretendard;
  font-size: $font-h2;
  font-weight: 700;
  line-height: 140%;
}

.h3-tt {
  font-family: $font-pretendard;
  font-size: $font-h3;
  font-weight: 600;
  line-height: 140%;
}

.h4-tt {
  font-family: $font-pretendard;
  font-size: $font-h4;
  font-weight: 600;
  line-height: 140%;
}

.menu-tt {
  font-family: $font-roboto;
  font-size: $font-lg;
  font-weight: 500;
  line-height: 27px;
}

.body-tt {
  font-family: $font-pretendard;
  font-size: $font-md;
  font-weight: 400;
  line-height: 27px;
}

.body2-tt {
  font-family: $font-roboto;
  font-size: $font-lg;
  font-weight: 500;
  line-height: 27px;
}

.desc-tt {
  font-family: $font-roboto;
  font-size: $font-sm;
  font-weight: 500;
  line-height: 24px;
}

.mobileMenu-tt {
  font-family: $font-roboto;
  font-size: $font-sm;
  font-weight: 500;
  line-height: 27px;
}

.small-tt {
  font-family: $font-roboto;
  font-size: $font-xs;
  font-weight: 500;
  line-height: 21px;
}

.tel-tt {
  font-family: $font-roboto;
  font-size: $font-sm;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.04em;
}

.bold-tt {
  font-family: $font-pretendard;
  font-size: $font-md;
  font-weight: 600;
  line-height: 100%;
}

.semibold-tt {
  font-family: $font-pretendard;
  font-size: $font-md;
  font-weight: 600;
  line-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-width: 250px;
  box-sizing: border-box;
  font-family: $font-pretendard;
}

.container {
  max-width: $container;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 0 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 12-22 변경 */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 16px;
}

.btn-line {
  border-width: 1px;
  border-style: solid;
}

// header
@media (max-width: 1199px) {
  header {
    position: relative;
    display: flex;
    padding: 0 8px 0 23px;
    height: 54px;
    align-items: center;
    border-bottom: 1px solid $g500;

    .rounz-main-logo {
      img {
        height: 20px;
      }
    }

    > ul {
      display: none;
      position: absolute;
      top: 54px;
      left: 0px;
      background: white;
      width: 100vw;
      height: 100vh;
      li {
        button {
          display: flex;
          padding-left: 24px;
          align-items: center;
          background: #f4f4fa;
          height: 51px;
          width: 125px;
        }
        .active {
          box-sizing: border-box;
          padding-left: 21px;
          color: $b300;
          border-left: 3px solid $b300;
        }
      }
    }

    &.is-menu-open {
      > ul {
        display: block;
      }
      .menu-child {
        display: block;
      }
    }

    .header-actions {
      margin-left: auto;
      display: flex;
      a,
      button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .cart-button {
        display: none;
      }
    }
  }

  .mobile-menu-button {
    height: 40px;
    width: 40px;
    .header-menu-button {
      display: flex;
      flex-direction: column;
      height: 16px;
      width: 16px;
      justify-content: space-between;
      img {
        width: 16px;
      }
    }
    .header-active-menu-button {
      display: none;
      position: relative;
      height: 12px;
      width: 12px;
      img {
        height: 12px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &.active {
      .header-menu-button {
        display: none;
      }
      .header-active-menu-button {
        display: block;
      }
    }
  }

  .menu-child {
    display: none;
    position: absolute;
    top: 54px;
    left: 125px;
    ul {
      li {
        height: 51px;
        width: calc(100vw - 125px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        img {
          height: 12px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    height: 80px;
    display: flex;
    padding: 0 38px;
    align-items: center;
    border-bottom: 1px solid $g500;
    .rounz-main-logo {
      margin-right: 55px;
      img {
        height: 24px;
      }
    }
    ul {
      display: flex;
      gap: 21px;
      li {
        button {
          padding-left: 0px;
          height: 80px;
        }
        .active {
          color: $b300;
        }
      }
    }
    .header-actions {
      margin-left: auto;
      display: flex;
      a,
      button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .cart-button {
        display: flex;
      }
    }
    .mobile-menu-button {
      display: none !important;
    }
  }
  .menu-child {
    display: none;
  }
}

//footer
footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 54px 40px;
  // border-top 라인 추가 12-22
  border-top: solid 1px $g50;
}

.footer-rounz {
  display: flex;
  gap: 24px;
  padding-bottom: 20px;
  color: $b300;
  border-bottom: 1px solid $g50;
  font-size: 14px;
  font-weight: 600;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5.5px 0;
  gap: 10px;
  a {
    font-family: pretendard;
    font-size: 14px;
    font-weight: 400;
    padding-right: 12px;
    border-right: 1px solid $b100;
    &:nth-of-type(2) {
      font-weight: 600;
    }
  }
}

.footer-business {
  height: 27px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
  img {
    padding-left: 2px;
    height: 6px;
  }
}

.footer-icon {
  display: flex;
  padding-top: 24px;
  gap: 16px;
  img {
    height: 24px;
  }
}

@media (min-width: 480px) {
  .footer-rounz {
    font-size: 16px;
  }
  .footer-info {
    a {
      font-size: 16px;
    }
  }
  .footer-business {
    font-size: 16px;
  }
  .footer-icon {
    img {
      height: 32px;
    }
  }
}
