@use "./variable.scss" as *;

header {
  position: relative;
  display: flex;
  padding: 0 8px 0 23px;
  height: 54px;
  align-items: center;
  border-bottom: 1px solid var(--g500);
  .rounz-main-logo {
    img {
      height: 20px;
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 55px;
    left: 0px;
    background: white;
    width: 100vw;
    height: 100vh;
    li {
      button {
        display: flex;
        padding-left: 24px;
        align-items: center;
        background: #f4f4fa;
        height: 51px;
        width: 125px;
      }
      .active {
        box-sizing: border-box;
        padding-left: 21px;
        color: $b300;
        border-left: 3px solid $b300;
      }
    }
  }
  &.is-menu-open {
    ul {
      display: block; // ✅ 열렸을 때만 표시
    }
  }
  .header-actions {
    margin-left: auto;
    display: flex;
    a,
    button {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cart-button {
      display: none;
    }
  }
}

.mobile-menu-button {
  display: block;
  height: 40px;
  width: 40px;
  div {
    display: flex;
    flex-direction: column;
    height: 16px;
    width: 16px;
    justify-content: space-between;
    img {
      width: 16px;
    }
  }
}

@media (min-width: 1200px) {
  header {
    height: 80px;
    padding: 0 38px;
    .rounz-main-logo {
      margin-right: 55px;
    }
    ul {
      display: flex;
      gap: 21px;
    }
    .header-actions {
      .cart-button {
        display: flex;
      }
    }
    .mobile-menu-button {
      display: none !important;
    }
  }
}
