@use "./variable.scss" as *;

main{
  display: grid;
  width: 100%;
  height: 100%;
  background: $bg;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 2218px;
  background: #fff;
  padding: 0 50px;
  margin: 0 auto;
  form > h3{
    padding: 27px 0;
  }
}
.title{
  display: flex;
  flex-direction: column;
  padding: 54px 0 27px 0;
  border-bottom: 1px solid $g50;
  margin-bottom:27px;
  width: 600px;
  text-align: center;
}
.kakao{
  background: #FEE500;
  width: 600px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 120px;
}

.formList label{
  position: relative;
}
.formList dd .hint{
  position: absolute;
  color:$g75;
  padding: 18px 12px;
  pointer-events: none;
}
.hide{   //선택시 hide로 가리기
  display:none;
}
.formList dd:last-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.formList dd:last-child div{
  width: 200px;
}
.formList input{
  width: 100%;
  height: 64px;
  padding: 12px;
}
.formList > dd{
  padding-bottom: 20px;
  position: relative;
  .sm{
    position: absolute;
    border: 1px solid $g75;
    border-radius: 4px;
    padding: 8px 12px;
    color: $g100;
    right:0;
    margin: 11px 12px;
  }
  .pwHint{
    color:$g100;
  }
}
.hidden{
  opacity: 0;
  display: inline;
}
.active{   // 비밀번호 불일치시
  opacity:1;
  display:block;
  color: $error;
}
.error{
  color: $error;
}

.see{
  text-decoration: underline;
  color:$g75;
}
.description{
  border: 1px solid $g75;
  padding: 0 10px;
  margin-top: 20px;
  div p{
    color: $g100;
  }
  div p:first-child{
    color:$g300;
  }
}
.termsList{
  border: 1px solid $g75;
  input{
    display: none;
  }
  .top{
    padding: 13px 0 12px 23px;
    border-bottom: 1px solid $g75;
  }
  ul{
    padding: 20px 20px 81px 20px;
    li{
      padding-bottom: 20px;
      label{
        color:$g200;
      }
    }
    li:last-child{
      padding-bottom: 0;
    }
  }
}
.termsList ul li:nth-child(2), li:nth-child(4){
  display: flex;
  justify-content: space-between;
}
.big{
  width: 600px;
  height: 48px;
  color: #fff;
  background: $g100;
  border-radius: 4px;
  margin-bottom: 81px;
}