@use "./variable.scss" as *;

main{
  display: grid;
  width: 100%;
  height: 100%;
  background: $bg;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 700px;
  background: #fff;
  padding: 0 50px;
  margin: 0 auto;
  border-bottom: 1px solid $g50;
  form > h3{
    padding: 27px 0;
  }
}
.title{
  display: flex;
  flex-direction: column;
  padding: 54px 0 27px 0;
  border-bottom: 1px solid $g50;
  margin-bottom:27px;
  width: 600px;
  text-align: center;
}
.kakao{
  background: #FEE500;
  width: 600px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 100px;
}
.formList label{
  position: relative;
}
.formList dd:last-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.formList dd:last-child div{
  width: 200px;
}
.formList input{
  width: 100%;
  height: 64px;
  padding: 12px;
}
.formList > dd{
  padding-bottom: 20px;
  position: relative;
  .sm{
    position: absolute;
    border: 1px solid $g75;
    border-radius: 4px;
    padding: 8px 12px;
    color: $g100;
    right:0;
    margin: 11px 12px;
  }
  .pwHint{
    color:$g100;
  }
}
.hidden{
  opacity: 0;
  display: inline;
  position: absolute;
}
.active{   // 비밀번호 불일치시
  opacity:1;
  display:block;
  color: $error;
  position: relative;
}
.error{
  color: $error;
}
.see{
  text-decoration: underline;
  color:$g75;
}
.description{
  border: 1px solid $g75;
  padding: 0 10px;
  margin-top: 20px;
  overflow-y: scroll;
  height: 150px;
  margin-bottom: 20px;
  div p{
    color: $g100;
  }
  div p:first-child{
    color:$g300;
  }
}
.termsList{
  border: 1px solid $g75;
  input{
    display: none;
  }
  .top{
    position: relative;
    padding: 13px 0 12px 60px;
    border-bottom: 1px solid $g75;
  }
  ul{
    position: relative;
    padding: 20px 20px 81px 20px;
    li{
      padding: 0 00 20px 40px;
      label{
        color:$g200;
      }
    }
    li:last-child{
      padding-bottom: 0;
    }
  }
}
.termsList ul li:nth-child(2), li:nth-child(5){
  display: flex;
  justify-content: space-between;
}
.box{
  position: absolute;
  width: 24px;
  height: 24px;
  background: $g50;
  border-radius: 2px;
  left:20px;
  padding: 6px 4px;
}
.box .aa{
  background: $b300;
}
.big{
  width: 600px;
  height: 48px;
  color: #fff;
  background: $g100;
  border-radius: 4px;
  margin-bottom: 81px;
}