@use "./variable.scss"as *;

main section {
  padding: 54px 0;
}

.store-head {
  width: 100%;
  background-color: $bg;

  >div {
    display: flex;
    flex-direction: column;
    gap: 54px;
  }

  .store-head-t {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $g500;
    gap: $body;
  }

  .store-intro {
    display: flex;
    justify-content: space-between;
    gap: $body;
    border-radius: 4px;
  }

  .store-intro-list {
    background: $white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: $body;
    flex: 1;

    .h3-tt {
      color: $g400;
    }

    .body-tt {
      height: 100%;
      color: $g300;
    }

    .desc-tt {
      color: $g100;

      .ast {
        display: inline-block;
        margin-right: 4px;
      }
    }


    >.btn {
      margin-top: 27px;
      color: $b300;
      border-color: $b300;
      transition: 0.3s;

      &:hover {
        border-color: $b500;
        color: $b500;
      }
    }
  }
}

.store-ct {
  >div {
    padding-bottom: 54px;
  }

  .store-ct-tab {
    display: flex;
    width: 100%;

    .store-tab {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      border: solid 1px $g50;
      height: 80px;
      transition: 0.3s;
      color: $g75;

      &:last-of-type {
        border-left: none;
      }

      &:hover {
        color: $b300;
        border-color: $b300;
      }

      &.active {
        border-color: $b300;
        background: $b300;
        color: #fff;
      }
    }
  }

  .store-ct-list {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  .store-list-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .label-checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .label-checkbox label {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: $font-h3;
    cursor: pointer;
  }

  #rounzLens[type="checkbox"]+.label-checkbox::before {
    content: '';
    height: $font-h3;
    width: $font-h3;
    margin-right: -$font-h3;
    background: url('../images/icon_discheck.svg') no-repeat center center / 100% auto;
  }

  #rounzLens[type="checkbox"]:checked+.label-checkbox::before {
    content: '';
    height: $font-h3;
    width: $font-h3;
    background: url('../images/icon_checked.svg') no-repeat center center / 100% auto;
  }

  .store-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

  }

  @media screen and (max-width: 480px) {
    .store-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .store-list li {
    display: grid;
    gap: 16px;
  }

  .store-list-img {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(300 / 400 * 100%);
    ;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }



  .store-list-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

}

.rounz-lens-chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: $bg;
  color: $b300;
  padding: 0 8px;
  border-radius: 4px;
}

.icon-pb-lense {
  display: inline-flex;
  width: $body;
  height: $body;
  background: url('../images/store/icon_pb_lense.png') no-repeat center center / 100% auto;
}

.rounz-select select {
  display: inline-flex;
  align-items: center;
  font-size: $body;
  color: $g400;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  min-width: 120px;
}

select::-ms-expand {
  display: none;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
}

select {
  background: url('../images/store/icon_arrow_select.png') no-repeat calc(100% - 12px) center / 11px auto;
}