@use "./variable.scss"as *;

main section {
  padding: 54px 0;
}

.store-head {
  width: 100%;
  background-color: $bg;
  margin-bottom: 54px;

  >div {
    display: flex;
    flex-direction: column;
    gap: 54px;

    @media (max-width: 768px) {
      gap: 40px;
    }
  }

  .store-head-t {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $g500;
    gap: $body;
  }

  .store-intro {
    display: flex;
    justify-content: space-between;
    gap: $body;
    border-radius: 4px;

    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .store-intro-list {
    background: $white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: $body;
    flex: 1;

    @media (max-width: 768px) {
      padding: 24px;
    }

    .h3-tt {
      color: $g400;
    }

    .body-tt {
      height: 100%;
      color: $g300;
    }

    .desc-tt {
      color: $g100;

      .ast {
        display: inline-block;
        margin-right: 4px;
      }
    }


    >.btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      margin-top: 27px;
      color: $b300;
      border-color: $b300;
      transition: 0.3s;

      @media (max-width: 768px) {
        margin-top: 8px;
      }

      &:hover {
        border-color: $b500;
        color: $b500;
      }
    }
  }
}



.store-ct {
  position: relative;

  >div {
    padding-bottom: 54px;

    @media (max-width: 768px) {
      padding-bottom: 32px;
    }
  }

  .store-ct-tab {
    // position: sticky;
    // top: 0;
    // z-index: 65;
    display: flex;
    width: 100%;

    .store-tab {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;

      @media (max-width: 768px) {
        height: 48px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: $white;
        border: solid 1px $g50;
        transition: 0.3s;
        color: $g75;
      }

      &:last-of-type {
        border-left: none;
      }

      &:hover a {
        color: $b300;
        border-color: $b300;
      }

      &.active a {
        border-color: $b300;
        background: $b300;
        color: #fff;
      }
    }
  }

  .store-ct-list {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  .store-list-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 480px) {
      flex-wrap: wrap;
      gap: 24px;
    }
  }

  .label-checkbox {
    align-items: center;
    gap: 6px;
    display: none;
    @media (max-width: 480px) {
      gap: 0;
    }

    &.active {
      display: flex;
    }
    
  }


  .label-checkbox label {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: $font-h3;
    cursor: pointer;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  #rounzLens[type="checkbox"]+.label-checkbox::before {
    content: '';
    height: $font-h3;
    width: $font-h3;
    margin-right: -$font-h3;
    background: url('../images/icon_discheck.svg') no-repeat center center / 100% auto;
    @media (max-width: 480px) {
      height: $body;
      width: $body;
      margin-right: -$body;
    }
  }

  #rounzLens[type="checkbox"]:checked+.label-checkbox::before {
    content: '';
    height: $font-h3;
    width: $font-h3;
    background: url('../images/icon_checked.svg') no-repeat center center / 100% auto;
    @media (max-width: 480px) {
      height: $body;
      width: $body;
    }
  }

  .store-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 54px 16px;

    @media (max-width: 1199px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }

  }

  .store-content {
    display: none;

    &.active {
      display: block;
    }
  }

  .store-list li {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .store-list-img {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(300 / 400 * 100%);
    ;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .store-list-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    height: 100%;

    .store-text {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 0 4px;
    }

    .store-name {
      display: flex;
      align-items: center;
      gap: 8px;

      .icon-pb-lense {
        width: $font-xs;
      }

      .rounz-lens-chip {
        gap: 4px;
      }

      .small-tt {
        line-height: 100%;
      }
    }

    p.desc-tt {
      color: $g100;
    }

    p.road-tt {
      color: $g400;
      line-height: 1.4;
      font-weight: 500;
    }

    a.tel-tt {
      color: $g100;
    }

    .store-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      margin-top: 16px;

      a {
        font-size: 14px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: $g200;
        border-radius: 4px;
        border: solid 1px $g50;
        height: 48px;
        transition: 0.3s;

        i {
          display: flex;
          align-items: center;
          gap: 8px;
          width: 14px;
          height: 14px;
          background-position: center center;
          background-size: auto 100%;
          background-repeat: no-repeat;
        }

        @each $store-btn-icon in (call, map) {
          .icon-#{$store-btn-icon} {
            background-image: url('../images/store/icon_card_#{$store-btn-icon}.svg');
          }
        }

        &:hover {
          color: $b400;
          border-color: $b300;

          @each $store-btn-icon in (call, map) {
            .icon-#{$store-btn-icon} {
              background-image: url('../images/store/icon_card_#{$store-btn-icon}_hover.svg');
            }
          }
        }
      }
    }
  }

}

.store-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 54px;

  button {
    font-family: $font-pretendard;
    font-size: $font-md;
    font-weight: 600;
    line-height: 100%;
    color: $g100;
    padding: 4px;

    &:disabled {
      opacity: 0.2;
      pointer-events: none;
    }

    &.active {
      background-color: $b300;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      color: $white;
    }
  }

  #numbers {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.store-foot {
  >div {
    display: none;

    &.active {
      display: flex;
    }
  }
}

.btn-arrow {
  width: 12px;
  height: 10px;
  background-image: url('../images/store/icon_arrow_right.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    background-image: url('../images/store/icon_arrow_right_hover.svg');
  }

  &.btn-white {
    background-image: url('../images/store/icon_arrow_right_white.svg');
  }
}

.store-prev,
.store-next {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../images/store/icon_right_button.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 12px auto;
}

.store-prev {
  transform: rotate(-180deg);
}


.rounz-lens-chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: $bg;
  color: $b300;
  padding: 2px 8px;
  border-radius: 4px;
  line-height: 27px;
  font-weight: 600;
}

.icon-pb-lense {
  display: inline-flex;
  width: $body;
  height: $body;
  background: url('../images/store/icon_pb_lense.png') no-repeat center center / 100% auto;
}

.rounz-select select {
  display: inline-flex;
  align-items: center;
  font-size: $body;
  color: $g400;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  min-width: 160px;

  @media (max-width: 480px) {
    min-width: auto;
    height: 40px;
    line-height: 40px;
    padding-right: 32px;
  }
}

select::-ms-expand {
  display: none;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;

  background: url('../images/store/icon_arrow_select.png') no-repeat calc(100% - 12px) center / 11px auto;
}

section.store-foot {
  padding: 0;
}

.store-foot-direct {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 108px;
  padding: 54px 0;
  background: $bg;

  @media (max-width: 1199px) {
    flex-direction: column;
    gap: 40px;
  }

  @media (max-width: 480px) {
    gap: 24px;
  }

  .store-ct-slide-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 360px;

    @media (max-width: 768px) {
      width: 80%;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }

  .store-ct-slide-container {
    position: relative;
    width: 480px;
    height: 360px;
    overflow: hidden;
    @media (max-width: 480px) {
      width: 100%;
      height: 100%;
    }

    ul {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      transition: left .3s ease-in;
      left: 0;
      display: flex;
    }

    li {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    // &.animated {
    //   transition: left .3s ease-in;
    //   left: 0;
    // }
  }


  .store-foot-slide-btn {
    width: 100%;
    top: 50%;
    height: 40px;
    position: absolute;
    transform: translateY(-50%);

    button {
      position: absolute;
      display: inline-flex;
      width: 16px;
      height: 40px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-image: url('../images/store/icon_arrow_right.svg');
    }

    #foot-slide-prevbtn {
      right: 100%;
      transform: rotate(-180deg);

      @media (max-width: 480px) {
        right: inherit;
        left: 16px;
      }
    }

    #foot-slide-nextbtn {
      left: 100%;

      @media (max-width: 480px) {
        left: inherit;
        right: 16px;
      }
    }
  }

  #store-foot-pager {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 100%;
    bottom: 12px;

    a {
      text-indent: -9999px;
      display: inline-flex;
      border-radius: 50%;
      width: 9px;
      height: 9px;
      background: $white;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  .store-ct-text {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 768px) {
      justify-content: flex-start;
      text-align: center;
    }
  }
  .store-chain {
    h4 {
      color: $b300;
      margin-bottom: 16px;
    }

    .btn {
      color: $white;
      background: $b300;
      display: inline-flex;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.store-foot-partner {
  background: $b300;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 54px 0;
  gap: 54px;

  @media (max-width: 1199px) {
    gap: 64px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 16px;
  }

  .store-ct-img {
    max-width: 480px;
    @media (max-width: 768px) {
      width: 80%;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      vertical-align: middle;
      
    }
  }

  .store-ct-text {
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 768px) {
      text-align: center;
      padding: 24px;
    }
  }

  .store-chain {
    h4 {
      margin: 16px 0;
    }

    .btn {
      display: inline-flex;
      background: $b900;
      @media (max-width: 480px) {
        display: flex;
      }
    }
  }

}

.store-chain .btn i {
  transition: 0.3s linear;
}

.store-chain .btn:hover i {
  transform: translateX(6px);
}