/* Layout */
$container: 1592px;

// color
$bg: #f4f4fa;
$error: #ff2d2d;
$white: #ffffff;

// grey color
$g50: #eaeaea;
$g75: #a8a8a8;
$g100: #848484;
$g200: #4f4f4f;
$g300: #2b2b2b;
$g400: #1e1e1e;
$g500: #1a1a1a;

// blue color
$b50: #e6e6f7;
$b100: #d9daf3;
$b200: #b0b2e7;
$b300: #0007b2;
$b400: #0006a0;
$b500: #00068e;
$b600: #000586;
$b700: #000350;
$b800: #00046b;
$b900: #00023e;

/* font */
$font-pretendard: "Pretendard", sans-serif;
$font-roboto: "roboto", sans-serif;

/* Text-size styles */
$body: 16px;
$font-h1: $body * 3; // 48px
$font-h2: $body * 2; // 32px
$font-h3: $body * 1.5; // 24px
$font-h4: $body * 1.3125; // 21px
$font-lg: $body * 1.125; // 18px
$font-md: $body; // 16px
$font-sm: $body * 0.875; // 14px
$font-xs: $body * 0.75; // 12px
